<div class="modal-header">
    <h4 class="modal-title">Record Viewer</h4>
</div>
<div class="modal-body">
    <form [formGroup]="transForm" (ngSubmit)="addNote()">
        <div class="form-group">
            <textarea formControlName="note" class="form-control" placeholder="Enter note here..."></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!transForm.valid">Add note</button>
    </form>
    <form [formGroup]="catForm" (ngSubmit)="setCategory()" *ngIf="budget" class="mt-3">
        <div class="form-group">
            <select formControlName="category" class="form-control">
                <option value="">Select a category</option>
                <option *ngFor="let category of budget.categories">{{ category }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-success">Set category</button>
    </form>

</div>
