<div class="modal-header">
    <h4 class="modal-title">Record Updater</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <label>Account</label>
            <input type="text" [placeholder]="transaction.accountName" class="form-control">
        </div>
        <div class="col-sm-12 col-md-6">
            <label>Date</label>
            <input type="date" [placeholder]="transaction.date" class="form-control">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12 col-md-6">
            <label>Amount</label>
            <input type="number" [placeholder]="transaction.amount" class="form-control">
        </div>
        <div class="col-sm-12 col-md-6">
            <label>Payee</label>
            <input type="text" [placeholder]="transaction.payee" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <label>Type</label>
            <input type="text" [placeholder]="transaction.type" class="form-control">
        </div>
        <div class="col-sm-12 col-md-6">
            <label>Category</label>
            <input type="text" [placeholder]="transaction.category" class="form-control">
        </div>
    </div>
</div>
