<div class="card">
    <div class="card-header">
        <h4>Import</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="csvForm">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <select name="parser" id="parser" class="form-control" formControlName="parser" (focus)="updateProfiles()">
                        <option value="" class="text-muted">Choose a parser</option>
                        <option *ngFor="let profile of parserProfiles; let i = index" [value]="i">{{ profile.accountName }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" accept=".csv" (change)="fileSelected($event.target.files)" [disabled]="csvForm.get('parser').value === ''">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="alert" class="mt-3 mb-0 alert alert-success">
            {{ alert }}
        </div>
    </div>
</div>
