<div class="card">
    <div class="card-header">
        Create parser profiles:
    </div>
    <div class="card-body">
        <form [formGroup]="parserForm" (ngSubmit)="saveProfile()">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <input type="text" class="form-control" placeholder="Account name" formControlName="accountName">
                    </div>
                    <div class="col-sm-12 col-md-7 pt-2">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="headerCheckTrue" name="header" class="custom-control-input" formControlName="header" value="true">
                            <label class="custom-control-label" for="headerCheckTrue">Header</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="headerCheckFalse" name="header" class="custom-control-input" formControlName="header" value="false">
                            <label class="custom-control-label" for="headerCheckFalse">No Header</label>
                        </div>
                    </div>
                </div>
            </div>
            <p>Specify column layout below:</p>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <label>Date:</label>
                        <input type="number" class="form-control" formControlName="dateCol">
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <label>Amount:</label>
                        <input type="number" class="form-control" formControlName="amountCol">
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <label>Type:</label>
                        <input type="number" class="form-control" formControlName="typeCol">
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <label>Payee:</label>
                        <input type="number" class="form-control" formControlName="payeeCol">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-success" [disabled]="!parserForm.valid">Save parsing profile</button>
        </form>
        <div *ngIf="alert" class="alert alert-danger">
            {{ alert }}
        </div>
    </div>
</div>
